# config is ignore
*/config/
**/config/
**/config/**.json
**/config/**.conf
config/**.json
config/**.conf
config/**.yaml

# cache data
**/cache/**
**/state/**

# reports is ignore
**/reports/**/*.zip
**/reports/**/*.pdf
**/reports/**/*.json
**/reports/**/*.csv
**/reports/**/*.png
**/reports/**/*.html
**/reports/*.json
**/monthly_report/**/tmp/**

# monthlyreport rawdata
**/monthly_report/**.csv
**/monthly_report/**.csv.gz

# user data
**/srcfiles/userdata/**/*.xml
**/srcfiles/userdata/**/*.csv
**/srcfiles/userdata/**/*.csv.gz
 
# user data
soc_operations/manage_customer_config/*/work/**
soc_operations/manage_customer_config/*/backup/**
soc_operations/manage_customer_config/*/testdata/**

# csv.gz is not needed
*.csv.gz

# pyc is not needed
*.pyc

# zip is not needed
*.zip

# pdf is not needed
*.pdf

# log is not needed
*.log
*.log.*

# testfile is not needed
testcode/**/testfile/*.json
testcode/**/testfile/*.csv
testcode/**/testfile/*.csv.gz
testcode/**/testdata/*.json
testcode/**/testdata/*.csv
testcode/**/testdata/*.csv.gz
testcode/**/**.csv
testcode/**/**.csv.gz

