altgraph==0.10.2
asciitree==0.3.3
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
bdist-mpkg==0.5.0
bonjour-py==0.3
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
chrome-driver==2.26.0.1
chromedriver-binary==86.0.4240.22.0
Click==7.0
configparser==3.7.4
contextlib2==0.5.5
cryptography==2.7
cycler==0.10.0
distlib==0.3.4
enum34==1.1.6
filelock==3.2.1
Flask==1.0.3
Flask-HTTPAuth==3.3.0
Flask-SSLify==0.1.5
future==0.17.1
futures==3.2.0
idna==2.8
importlib-metadata==0.18
importlib-resources==3.3.1
ipaddress==1.0.22
itsdangerous==1.1.0
jedi==0.13.3
kiwisolver==1.1.0
lxml==4.3.4
macholib==1.5.1
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.5
modulegraph==0.10.4
numpy==1.16.4
oauthlib==3.1.0
parso==0.4.0
pathlib2==2.3.3
Pillow==6.1.0
pip-tools==3.8.0
platformdirs==2.0.2
pluggy==0.12.0
py2app==0.7.3
pycparser==2.19
pycrypto==2.6.1
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
python-jsonrpc-server==0.1.2
python-language-server==0.26.1
python-redmine==2.2.1
pytz==2019.1
PyYAML==5.3
requests==2.22.0
scandir==1.10.0
scipy==0.13.0b1
selenium==3.141.0
singledispatch==3.7.0
six==1.12.0
splunk-sdk==1.6.6
splunklib==1.0.0
subprocess32==3.5.4
typing==3.10.0.0
urllib3==1.25.3
virtualenv==20.13.0
Werkzeug==0.15.4
whois==0.8
xattr==0.6.4
zipp==0.5.1
