#coding:utf-8

## cbdefense.mk.tmpl CBDefense解析レポート用 

## define function
<%namespace file="../tips/report.mk.tmpl" name="func" />

<%inherit file="../base/analyst_report.mk.tmpl" />

<%block name="stylesheet_blk">
  ${parent.stylesheet_blk()}
</%block>
<%block name="summary_blk">
  ${parent.summary_blk()}
</%block>
<%block name="detail_blk">
  <div style="page-break-inside: avoid;">
    <h2 class="head">${ headers["detailinfo"] }</h2>
  </div>
  <div style="page-break-inside: avoid;">
    % if process_info:
      <br />
      <div style="page-break-inside: avoid;">
        <h3 class="subsection">・${ subheaders["process_info"] }</h3>
        <div class="desc_box">
          <p class="description">${ func.replace2br(process_info["content"]) }<p>
        </div>
      </div>
    %endif
  </div>
  % if ev_info_summary:
    <br />
    <div style="page-break-inside: avoid;">
      <h3 class="subsection">・${ subheaders["ev_info_summary"] }</h3>
      <table>
        <tr>
          % for each in ev_info_summary[0]:
            <td class="item">${ each["name"] }</td>
          % endfor
        </tr>
        % for each in ev_info_summary:
          <tr>
            % for value in each:
              <td class="content">${ value["content"] }</td>
            % endfor
          </tr>
        % endfor
      </table>
    </div>
  %endif
  % if network_info:
    <br />
    <div style="page-break-inside: avoid;">
      <h3 class="subsection">・${ subheaders["network_info"] }</h3>
      <table>
        <tr>
          % for each in network_info[0]:
            <td class="item">${ each["name"] }</td>
          % endfor
        </tr>
        % for each in network_info:
          <tr>
            % for value in each:
              <td class="content">${ value["content"] }</td>
            % endfor
          </tr>
        % endfor
      </table>
    </div>
  %endif
  % if process_detail_list:
    <br />
    <div style="page-break-inside: avoid;">
      <h3 class="subsection">・${ subheaders["process_detail_list"] }</h3>
      <h3 class="subsection">・Process:1</h3>
      ${ func.verticaltable(process_detail_list[0]) }
      <br />
    </div>
    % if len(process_detail_list) > 1:
      % for i in range(1, len(process_detail_list)):
        <div style="page-break-inside: avoid;">
          <h3 class="subsection">・Process:${ i+1 }</h3>
          ${ func.verticaltable(process_detail_list[i]) }
          <br />
        </div>
      % endfor
    %endif
  %endif
</%block>
<%block name="remediation_blk">
  <div style="page-break-inside: avoid;">
    ${parent.remediation_blk()}
    % if nw_contain:
      ${ func.lateraltable(nw_contain) }
    % endif
  </div>
</%block>
