#coding:utf-8

## cbdefense.mk.tmpl CBDefense解析レポート用 

## define function
<%namespace file="../tips/report.mk.tmpl" name="func" />

<%inherit file="../base/analyst_report.mk.tmpl" />

<%block name="stylesheet_blk">
  ${parent.stylesheet_blk()}
</%block>
<%block name="summary_blk">
  ${parent.summary_blk()}
</%block>
<%block name="detail_blk">
  <div style="page-break-inside: avoid;">
    <h2 class="head">${ headers["detailinfo"] }</h2>
  </div>
  <div style="page-break-inside: avoid;">
    % if process_info:
      <br />
      <h3 class="subsection">・${ subheaders["process_info"] }</h3>
      <table>
        <tr>
          % for each in process_info[0]:
            <td class="item">${ each["name"] }</td>
          % endfor
        </tr>
        % for each in process_info:
          <tr>
            % for value in each:
              <td class="content">${ value["content"] }</td>
            % endfor
          </tr>
        % endfor
      </table>
    %endif
  </div>
  <div style="page-break-inside: avoid;">
    % if event_info:
      <br />
      <h3 class="subsection">・${ subheaders["event_info"] }</h3>
      <table>
        <tr>
          % for each in event_info[0]:
            <td class="item">${ each["name"] }</td>
          % endfor
        </tr>
        % for each in event_info:
          <tr>
            % for value in each:
              % if value["content"]:
                <td class="content">${ value["content"] }</td>
              % else:
                <td class="content">-</sd>
              % endif
            % endfor
          </tr>
        % endfor
      </table>
    %endif
  </div>
  <div style="page-break-inside: avoid;">
    % if ioc_info:
      <br />
      <h3 class="subsection">・${ subheaders["ioc_info"] }</h3>
      <table>
        <tr>
          % for each in ioc_info[0]:
            <td class="item">${ each["name"] }</td>
          % endfor
        </tr>
        % for each in ioc_info:
          <tr>
            % for value in each:
              <td class="content">${ value["content"] }</td>
            % endfor
          </tr>
        % endfor
      </table>
    %endif
  </div>

  <div style="page-break-inside: avoid;">
    % if exploit_info:
      <br />
      <h3 class="subsection">・${ subheaders["exploit_info"] }</h3>
      <table>
        <tr>
          % for each in exploit_info[0]:
            <td class="item">${ each["name"] }</td>
          % endfor
        </tr>
        % for each in exploit_info:
          <tr>
            % for value in each:
              <td class="content">${ value["content"] }</td>
            % endfor
          </tr>
        % endfor
      </table>
    %endif
  </div>
  <div style="page-break-inside: avoid;">
    % if exploit_detail_ps:
      <br />
      <h3 class="subsection">・${ subheaders["exploit_detail_ps"] }</h3>
      <table>
        <tr>
          % for each in exploit_detail_ps[0]:
            <td class="item">${ each["name"] }</td>
          % endfor
        </tr>
        % for each in exploit_detail_ps:
          <div style="page-break-inside: avoid;">
            <tr>
              % for value in each:
                <td class="desc_content">${ func.replace(value["content"], "、", "<br />") }</td>
              % endfor
            </tr>
          </div>
        % endfor
      </table>
    %endif
  </div>
  <div style="page-break-inside: avoid;">
    % if exploit_detail_network:
      <br />
      <h3 class="subsection">・${ subheaders["exploit_detail_network"] }</h3>
      <table>
        <tr>
          % for each in exploit_detail_network[0]:
            <td class="item">${ each["name"] }</td>
          % endfor
        </tr>
        % for each in exploit_detail_network:
          <div style="page-break-inside: avoid;">
            <tr>
              % for value in each:
                <td class="desc_content">${ func.replace(value["content"], "、", "<br />") }</td>
              % endfor
            </tr>
          </div>
        % endfor
      </table>
    %endif
  </div>
  <div style="page-break-inside: avoid;">
    % if exploit_detail_bootps:
      <br />
      <h3 class="subsection">・${ subheaders["exploit_detail_bootps"] }</h3>
      <table>
        <tr>
          % for each in exploit_detail_bootps[0]:
            <td class="item">${ each["name"] }</td>
          % endfor
        </tr>
        % for each in exploit_detail_bootps:
          <div style="page-break-inside: avoid;">
            <tr>
              % for value in each:
                <td class="desc_content">${ func.replace(value["content"], "、", "<br />") }</td>
              % endfor
            </tr>
          </div>
        % endfor
      </table>
    %endif
  </div>
  % if exploit_detail_file:
    <div style="page-break-before: always;"></div>
    <div style="page-break-inside: avoid;">
      <h3 class="subsection">・${ subheaders["exploit_detail_file"] }</h3>
      <table>
        <div style="page-break-inside: avoid;">
          <tr>
            % for each in exploit_detail_file[0]:
              <td class="item">${ each["name"] }</td>
            % endfor
          </tr>
        </div>
        % for each in exploit_detail_file:
          <div style="page-break-inside: avoid;">
            <tr>
              % for value in each:
                <td class="desc_content">${ func.replace(value["content"], "、", "<br />") }</td>
              % endfor
            </tr>
          </div>
        % endfor
      </table>
    </div>
  %endif
  % if malware_detail:
    % for each in malware_detail:
      <div style="page-break-inside: avoid;">
        ${ func.verticaltable(each) }
      </div>
      <br />
    % endfor
  % endif

  <div style="page-break-inside: avoid;">
    ${ func.lateraltable(outbound, section="outbound") }
  </div>
</%block>
<%block name="remediation_blk">
  <div style="page-break-inside: avoid;">
    ${parent.remediation_blk()}
    % if nw_contain:
      ${ func.lateraltable(nw_contain) }
    % endif
  </div>
</%block>
