${ customer_name }
ご担当者　様

お世話になっております。
株式会社デジタルハーツのセキュリティオペレーションセンターです。
ご利用中の${ product }から、セキュリティアラートが発生しました。

解析の結果、重要度の高いアラートと判断した為、アラート解析レポートを
お送り致します。

ご査収の程、よろしくお願い致します。

===========================
株式会社デジタルハーツ
セキュリティオペレーションセンター(DH-SOC) サポート窓口

E-mail: support1@dhsoc.jp URL: https://www.digitalhearts.com/
Tel: 03-3379-2053
===========================

