${ customer_name }
ご担当者　様

お世話になっております。
株式会社デジタルハーツのセキュリティオペレーションセンターです。

以下の通り、パスワードをご連絡申し上げます。
****************
${ password }
****************

以上、よろしくお願いいたします。
失礼いたします。

===========================
株式会社デジタルハーツ
セキュリティオペレーションセンター(DH-SOC) サポート窓口

E-mail: support1@dhsoc.jp URL: https://www.digitalhearts.com/
Tel: 03-3379-2053
===========================

