{% if is_check is defined and is_check %}
メール内容のチェック用送信です。
送信先は、以下のとおりです。

mailto: {{ mail_to }}
password: {{ password }}

以下が本文となります。
*******************
{% endif %}
{{ customer_name }}
ご担当者　様

お世話になっております。
株式会社デジタルハーツのセキュリティオペレーションセンターです。
サイバーセキュリティお助け隊 in 東北をご担当させていただいております。

月次稼働報告書「{{ month }}」版をご提出させて頂きます。
パスワードにつきましては、別途ご連絡申し上げます。

以上、よろしくお願いいたします。
失礼いたします。

===========================
サイバーセキュリティお助け隊 in 東北
株式会社デジタルハーツ
セキュリティオペレーションセンター

03-3379-2053
E-mail : cyber-otasuke@dhsoc.jp
URL: https://www.digitalhearts.com/
===========================

