{{ customer_name }}
ご担当者　様

お世話になっております。
株式会社デジタルハーツのセキュリティオペレーションセンターです。

以下の通り、パスワードをご連絡申し上げます。
****************
{{ password }}
****************

以上、よろしくお願いいたします。
失礼いたします。

===========================
サイバーセキュリティお助け隊 in 東北
株式会社デジタルハーツ
セキュリティオペレーションセンター

03-3379-2053
E-mail : cyber-otasuke@dhsoc.jp
URL: https://www.digitalhearts.com/
===========================

