#coding:utf-8

## fireeye_nx.mk.tmpl FireEyeNx解析レポート用 

## define function
<%namespace file="./util.mk.tmpl" name="func" />

<%inherit file="base.mk.tmpl" />

<%block name="stylesheet_blk">
  ${parent.stylesheet_blk()}
  .mltable {
    border-collapse: collapse;
  }
  .mltable th, .s-tbl td {
    border: 1px solid #000;
  }
  .mltable tr:nth-child(2n+1) {
    background: #eee;
  }
  .mltable tr:first-child, .s-tbl th:first-child {
    background: #0ff;
  }
  .mltable tr:hover {
    background:#ff0;
  }
</%block>

<%block name="alert_by_severity">
  ${parent.alert_by_severity()}
  ${ func.graph_wLegend("./images/severity_circle.png",
                        alertdata["severity_table"]["legend"])
  }
  <br />
  ${ func.mltable(alertdata["severity_table"]) }
</%block>

<%block name="alert_by_daily">
  ${parent.alert_by_daily()}
  ${ func.graph_wLegend("./images/dailychart_stack_by_severity.png",
                        alertdata["dailychart_table"]["legend"])
  }
  ${ func.mltable(alertdata["dailychart_table"], True) }
</%block>

<%block name="alert_by_malware_type">
  ${parent.alert_by_malware_type()}
  <p class="description">マルウェア名称別の集計を以下に示します。</p>
  ${ func.mltable(alertdata["malware_table"]) }
</%block>

<%block name="alert_by_host">
  ${parent.alert_by_host()}
  <p class="description">発生したアラートのホスト毎の集計を以下に示します。</p>
  ${ func.mltable(alertdata["host_table"]) }
</%block>

<%block name="alert_by_os">
  ${parent.alert_by_os()}
  <p class="description">発生したアラートのOS毎の集計と各危険度での割合を以下に示します。</p>
  <div style="page-break-inside: avoid;">
    ${ func.mltable(alertdata["os_table"]) }
  </div>
</%block>

<%block name="alert_by_monthly">
  ${parent.alert_by_daily()}
  ${ func.graph_wLegend("./images/monthlychart_stack_by_severity.png",
                        alertdata["monthlychart_table"]["legend"])
  }
  ${ func.mltable(alertdata["monthlychart_table"], True) }
</%block>

<%block name="incident">
  ${parent.alert_by_host()}
  <p class="description">当月中のインシデント対応一覧を記載いたします。<p>
  ${ func.mltable(alertdata["incident_table"]) }
  <p class="description">各インシデントの内容の詳細は、インシデント発生時に発行したアラート解析レポートをご参照ください。<p>
  <p class="description">記載している以外のアラートは上記アラートに付随して発生したものです。<p>
</%block>

<%block name="agent_release">
  % if cb_agent_release["updated"]:
    ${report_target["report_month"]}度は、新しい センサーのリリースがございました。
  % else:
    ${report_target["report_month"]}度は、新しい センサーのリリースはございませんでした。
  % endif
  ${ func.mltable(cb_agent_release["table"]) }
  <br />
  <!-- add following for reports 21/05 -->
  <li>Linux用センサーについて</li>
  <p class="description">Linuxセンサーのバージョン 2.12では、以下のディストリビューションをサポートしません。<br />
RHEL/CentOS/Oracle 6、SUSE Linux Enterprise Server 12 (SP2, SP3)、OpenSUSE 42.2, 42.3、Ubuntu 16.04<br />
<br />
詳細は、「サポートされるLinuxディストリビューション」を参照してください。<br />
Carbon Black Cloud sensor: Linux sensor support<br />
https://community.carbonblack.com/t5/Documentation-Downloads/Carbon-Black-Cloud-sensor-Linux-sensor-support/tac-p/76214<br />
<br />
センサーのインストール手順については、Carbon Black Cloudコンソールの上部メニューバーの[ヘルプ]&gt;[センサー インス<br />
トールガイド]から取得可能なインストールガイドを参照してください。<br />
Linux版センサー導入済み環境においては、同ガイドの「エンドポイントのセンサーの更新」を参照してください。
  </p>
  <!-- add above for reports 21/05 -->
</%block>

<%block name="blk_threat_hunting">
  ${ func.mltable(threat_hunting["results"]) }
</%block>

<%block name="blk_livequery">
  ${ func.mltable(livequery["results"]) }
</%block>

<%block name="blk_vulnerabilities">
  <p class="subsection">・各OSでの脆弱性検出状況</p>
  ${ func.mltable(vulnerabilities["grandsummary"]) }
  <p class="subsection">・危険性の高い脆弱性</p>
  % if vulnerabilities["overHigh"] is 0:
      <p class="description">危険性の高い脆弱性は見つかりませんでした。</p>
  % else:
    <p class="subsection">・脆弱性が多いホスト(上位10ホストまで)</p>
    ${ func.mltable(vulnerabilities["groupby_host"]) }
    <p class="subsection">・脆弱性が多いアプリケーション(上位10個まで)</p>
    ${ func.mltable(vulnerabilities["groupby_product"]) }
    <div style="page-break-after: always;" ></div>
    <p class="subsection">悪用が確認されている脆弱性を以下に記載致します.</p>
    % if vulnerabilities["overHigh_wACTIVE"]>100:
      <p class="description">※${vulnerabilities["overHigh_wACTIVE"]}件の脆弱性が検出されておりますが、本レポート上では100件のみ記載をさせていただきます.</p>
    % endif
    ${ func.mltable(vulnerabilities["actives"]) }
  % endif
</%block>

<%block name="blk_digitalrisk_vuln_domain">
  % for each in digitalrisk["vuln_domain"]["results"]:
    ${ func.mltable( each, name=each["top_domain"] ) }
  % endfor
</%block>

<%block name="blk_digitalrisk_vuln_ipaddr">
  % for each in digitalrisk["vuln_ipaddr"]["results"]:
    ${ func.mltable( each, name=each["ipaddr"] ) }
  % endfor
</%block>

<%block name="blk_digitalrisk_impersonate_domain">
  % for each in digitalrisk["impersonate_domain"]["results"]:
    ${ func.mltable( each, name=each["top_domain"] ) }
  % endfor
</%block>

<%block name="blk_digitalrisk_dataleak">
  % for each in digitalrisk["dataleak"]["results"]:
    ${ func.mltable( each ) }
  % endfor
  <p class="description">検出したキーワードの詳細は別紙「dataleak.csv」をご参照下さい。</p>
  <p class="description">推奨対応<br />
・検出された情報の内容により、適切な事後対応および再発防止策を実施</p>
</%block>

<%block name="blk_security_news">
  <ol>
    % for each in security_news["news"]:
      <div style="page-break-inside: avoid;">
        <li class="subsection">${ each["title"] }</li>
        <p class="description">${ func.replace2br(each["content"]) }<p>
      </div>
      <br />
    % endfor
  </ol>
</%block>

<%block name="blk_other_comment">
  % for each in userdata["comments"]:
    <div style="page-break-inside: avoid;">
      <li class="subsection">${ each["title"] }</li>
      <p class="description">${ func.replace2br(each["content"]) }<p>
    </div>
    <br />
  % endfor
</%block>

<%block name="blk_conclusion">
  % if userdata["conclusion"]["incident"] is 0:
    <p class="description">
当月の Carbon Black においては、対応が必要となるアラートはございませんでした。<br />
従業員の皆様に対しては、継続的に不審メールへの注意喚起と、URL や添付ファイルをクリックしてしまった際の対応方法について周知徹底されることを推奨します。
    <p>
  % else:
    <p class="description">
当月の Carbon Black においては、対応が必要となるアラートが ${userdata["conclusion"]["incident"]} 件ありましたが、Carbon Black によるプロセス停止およびその後の対応により、アラート後の不審な通信は検知されていないため、攻撃は防止されたものと考えられます。<br />
従業員の皆様に対しては、継続的に不審メールへの注意喚起と、URL や添付ファイルをクリックしてしまった際の対応方法について周知徹底されることを推奨します。
    <p>
  % endif
</%block>

