#coding:utf-8
## define function
<%namespace file="util.mk.tmpl" name="func" />

## main

<html>
  <head>
    <title>${ headers["title"]["use"] }</title>
  </head>
    <style type="text/css">
      body {
        width: 205mm;
        height: 306mm;
        margin-right : auto;
        margin-left : auto;
        margin-top : auto;
        margin-bottom : auto;
        font-family:"Meiryo UI";
      }
      table {
        border-collapse: collapse;
        margin-right : auto;
        margin-left : auto;
        font-family:"Meiryo UI";
      }
      td {
        border: solid 1px;
        padding: 0.5em;
        font-family:"Meiryo UI";
      }
      caption {
        font-family:"Meiryo UI";
      }
      .title_box{
        margin-right:auto;
        margin-left:auto;
        width:800px;
        border:2px solid #666;
        font-family:"Meiryo UI";
        text-align:center;
        font:bold;
      }
      .center_box{
        margin-right:auto;
        margin-left:auto;
        width:800px;
        height:500px;
        text-align:center;
      }
      .signature{
        margin-right:auto;
        margin-left:auto;
        font-family:"Meiryo UI";
        text-align:center;
        font-size:x-large;
      }
      .none_boader {
        border-style: none;
      }
      .section {
        font:bold;
        font-size:x-large;
        font-family:"Meiryo UI";
      }
      .subsection {
        font:bold;
        font-size:large;
        font-family:"Meiryo UI";
      }
      .report_text {
        margin-left:12px;
        text-align:left;
        font-family:"Meiryo UI";
      }
      .description {
        font-family:"Meiryo UI";
      }
      .item {
        font-family:"Meiryo UI";
        background-color:#CCECFF;
        font-weight:bold;
        width:250px;
        padding:2px;
        text-align:center;
        word-break:break-all;
      }
      .sub_item {
        font-family:"Meiryo UI";
        background-color:#CCECFF;
        font-weight:bold;
        width:100px;
        padding:2px;
        text-align:center;
        word-break:break-all;
      }
      .min_item {
        font-family:"Meiryo UI";
        background-color:#CCECFF;
        font-weight:bold;
        font-size: medium;
        width:200px;
        padding:2px;
        text-align:center;
        word-break:break-all;
      }
      .min_content {
        font-family:"Meiryo UI";
        font-size: medium;
        width:200px;
        padding:2px;
        text-align:center;
        word-break:break-all;
      }
      .content {
        font-family:"Meiryo UI";
        width:450px;
        padding:2px;
        text-align:center;
        word-break:break-all;
      }
      .desc_content{
        font-family:"Meiryo UI";
        width:550px;
        padding:2px;
        text-align:left;
        word-break:break-all;
      }
      .wide_content{
        font-family:"Meiryo UI";
        width:950px;
        padding:2px;
        text-align:left;
        word-break:break-all;
      }
      .value {
        font-family:"Meiryo UI";
        width:700px;
        padding:2px;
        word-break:break-all;
      }
      .hvalue {
        font-family:"Meiryo UI";
        width:350px;
        padding:2px;
        word-break:break-all;
      }
      .fheader {
        font-family:"Meiryo UI";
        background-color:#CCECFF;
        font-weight:bold;
        width:350px;
        padding:2px;
        text-align:center;
      }
      .comments {
        font-family:"Meiryo UI";
      }
      <%block name="stylesheet_blk">
      </%block>
    </style>
  <body>
    <div style="height:300px"></div>
    <div class="title_box">
      <h1>${ report_target["customer_name"] }</h1>
      <h1>${ headers["title"]["use"] }</h1>
      <h1>${ headers["sub_title"] }</h1>
      <h1>（ ${report_target["report_month"]} ）</h1>
    </div>
    <div style="height:50px"></div>
    <h3 class="signature">${ headers["date"] }<br />Ver1.0</p>
    <!-- <h3 class="signature">${ headers["company"] }</p> -->
    <div style="height:350px"></div>
    <image src="./images/${ format["logo"]["use"]["s"] }">
    <div style="page-break-after: always;" ><br /></div>
    <br />
    <h3 class="section">${ headers["sections"]["top_message"]["number"] }. ${ headers["sections"]["top_message"]["title"] }</h3>
    <p class="description">This is the DH-MDR Service for CB Defense monthly report.</p>
    <p class="description">This document is written for your system, network, and security personnel and contains<br /><B><U>sensitive information that pertains to you</U></B>. Please handle with care to prevent leakage to third parties.</p>
    <br />
    <p class="subsection">${ report_target["chapters"][0]["name"] }</p>
    <table>
      <!--
      <tr>
        % for each in report_target["table"]["header"]:
          <td class="item">${ each }</td>
        % endfor
      </tr>
      -->
      % for each in report_target["table"]["contents"]:
        <tr>
          <td class="item">${ each["name"] }</td>
          <td class="content">${ each["content"] }</td>
        </tr>
      % endfor
    </table>
    <br />
    <div style="page-break-after: always;" ><br /></div>
    <h3 class="section">${ headers["sections"]["alert_analysis"]["number"] }. ${ headers["sections"]["alert_analysis"]["title"] }</h3>
    <p class="description">The risk level of the alert is determined based on the following criteria.<p>
    <table>
      <caption>Alert Criteria</caption>
      <tr>
        <td class="min_item">Risk Level</td>
        <td class="item">Description</td>
      </tr>
      <tr>
        <td class="min_content">High</td>
        <td class="desc_content">Incidents identified as events that could pose a significant threat to your assets, such as malware infections or unauthorized outbound communications. Endpoint isolation required.</td>
      </tr>
      <tr>
        <td class="min_content">Medium</td>
        <td class="desc_content">An incident that is prevented breach activity at the same time when an alert was detected, but requires some action on the endpoint, such as deleting a malware file.<br />
(CB Defense detects and stops the execution of malware, preventing a breach, but the malware itself is not quarantined and must be removed.)</td>
      </tr>
      <tr>
        <td class="min_content">Low</td>
        <td class="desc_content">Incidents with low potential for offensive activity. No action is required.<br />
(Malware that have been quarantined after detection, adware, riskware, etc.)</td>
      </tr>
    </table>
    <div style="page-break-after: always;" ><br /></div>
    <div style="page-break-inside: avoid;">
      <p class="subsection">${ alert_analysis["chapters"][0]["name"] }</p>
      % if alertdata["alert_num"] is 0:
        <p class="description">There was no alert during the reporting period.<p>
        <br />
      % else:
        <p class="description">The summary of alerts detected during the period is shown below.<p>
      % endif
      <p class="subsection">${ alert_analysis["chapters"][0]["chapters"][0]["name"] }</p>
        % if alertdata["alert_num"] is 0:
        <p class="description">There was no alert during the reporting period.<p>
          <br />
        % else:
          <%block name="alert_by_severity">
          </%block>
          <div style="page-break-after: always;" ><br /></div>
        % endif
    </div>
    <div style="page-break-inside: avoid;">
      <p class="subsection">${ alert_analysis["chapters"][0]["chapters"][1]["name"] }</p>
        % if alertdata["alert_num"] is 0:
          <p class="description">There was no alert during the reporting period.<p>
          <br />
        % else:
          <%block name="alert_by_daily">
          </%block>
          <div style="page-break-after: always;" ><br /></div>
        % endif
    </div>
    <div style="page-break-inside: avoid;">
      <p class="subsection">${ alert_analysis["chapters"][0]["chapters"][2]["name"] }</p>
        % if alertdata["alert_num"] is 0:
          <p class="description">There was no alert during the reporting period.<p>
          <br />
        % else:
          <%block name="alert_by_malware_type">
          </%block>
          <br />
        % endif
    </div>
    <div style="page-break-inside: avoid;">
      <p class="subsection">${ alert_analysis["chapters"][0]["chapters"][3]["name"] }</p>
        % if alertdata["alert_num"] is 0:
          <p class="description">There was no alert during the reporting period.<p>
          <br />
        % else:
          <%block name="alert_by_host">
          </%block>
          <br />
        % endif
    </div>
    <div style="page-break-inside: avoid;">
      <p class="subsection">${ alert_analysis["chapters"][0]["chapters"][4]["name"] }</p>
        % if alertdata["alert_num"] is 0:
          <p class="description">There was no alert during the reporting period.<p>
          <br />
        % else:
          <%block name="alert_by_os">
          </%block>
          <br />
        % endif
    </div>
    
    <div style="page-break-inside: avoid;">
      <p class="subsection">${ alert_analysis["chapters"][1]["name"] }</p>
      <p class="description">The following is the number of alerts in the last 6 months.<p>
      <%block name="alert_by_monthly">
      </%block>
    </div>

    <div style="page-break-inside: avoid;">
      <h3 class="section">${ headers["sections"]["incident"]["number"] }. ${ headers["sections"]["incident"]["title"] }</h3>
      % if len(alertdata["incident_table"]["fields"]) is 0:
        <p class="description">There was no incident response during the reporting period.<p>
      % else:
        <%block name="incident">
        </%block>
      % endif
    </div>

    <div style="page-break-inside: avoid;">
      <h3 class="section">${ headers["sections"]["agent_release"]["number"] }. ${ headers["sections"]["agent_release"]["title"] }</h3>
      <%block name="blk_agent_release">
      </%block>
    </div>
    % if config_history["enable"]:
      <div style="page-break-inside: avoid;">
        <h3 class="section">${ headers["sections"]["config_history"]["number"] }. ${ headers["sections"]["config_history"]["title"] }</h3>
        % if len(config_history["results"]["fields"]) is 0:
          <p class="description">当該期間中は、設定変更作業はございませんでした。<p>
        % else:
          <%block name="blk_config_history">
          </%block>
        % endif
        <br />
      </div>
    % endif

    ##% if alertdata["alert_num"] is 0:
      <div style="page-break-after: always;" ><br /></div>
    ##% endif

    % if threat_hunting["enable"]:
      <div style="page-break-inside: avoid;">
        <h3 class="section">${ headers["sections"]["threat_hunting"]["number"] }. ${ headers["sections"]["threat_hunting"]["title"] }</h3>
        <p class="description">The following is a result of investigating the presence of already infiltrated threats based on our own threat intelligence.<p>
        <p class="subsection">${ headers["sections"]["threat_hunting"]["number"] }.${ threat_hunting["chapters"][0]["name"] }</p>
        <table>
          <tr>
            <td class="item">Description of Threat Intelligence</td>
          </tr>
          <tr>
            <td class="wide_content">
              <list >
              % for each in threat_hunting["ioc_type"]:
                <li>${ each["desc"] }</li>
              % endfor
              </list>
            </td>
          </tr>
        </table>
        <br />
      </div>
      <div style="page-break-inside: avoid;">
        <p class="subsection">${ headers["sections"]["threat_hunting"]["number"] }.${ threat_hunting["chapters"][1]["name"] }</p>
        % if len(threat_hunting["results"]["fields"]) is 0:
          <p class="description">No threats were detected.<p>
        % else:
          <%block name="blk_threat_hunting">
          </%block>
        % endif
        <br />
      </div>
      <div style="page-break-after: always;" ><br /></div>
    % endif

    % if discover["enable"]:
      <div style="page-break-inside: avoid;">
        <h3 class="section">${ headers["sections"]["discover"]["number"] }. ${ headers["sections"]["discover"]["title"] }</h3>
        % if len(discover["results"]["fields"]) is 0:
          <p class="description">Based on the results of Discover, the following table shows the problems that have been confirmed in the environment of your company and the information on the terminals with those problems.<p>
        % else:
          <p class="description">As the result of checking with Discover, no threats have been detected.<p>
          <%block name="blk_discover">
          </%block>
        % endif
        <br />
      </div>
      ##% if alertdata["alert_num"] is 0:
        <div style="page-break-after: always;" ><br /></div>
      ##% endif
    % endif

    % if spotlight["enable"]:
      <div style="page-break-inside: avoid;">
        <h3 class="section">${ headers["sections"]["spotlight"]["number"] }. ${ headers["sections"]["spotlight"]["title"] }</h3>
        % if len(spotlight["results"]["fields"]) is 0:
          <p class="description">Spotlight has no detected any vulnerability.</p>
        % else:
            <p class="description">The vulnerability information detected by Spotlight is described below.<br/>
          <%block name="blk_spotlight">
          </%block>
        % endif
        <br />
      </div>
      ##% if alertdata["alert_num"] is 0:
        <div style="page-break-after: always;" ><br /></div>
      ##% endif
    % endif

    % if digitalrisk["enable"]:
        <h3 class="section">${ headers["sections"]["digitalrisk"]["number"] }. ${ headers["sections"]["digitalrisk"]["title"] }</h3>
        <p class="description">We would like to report the monitoring results of the following information registered with DeCYFIR&trade;.<br />
        ${ func.mltable( digitalrisk["monitor_target"]["results"] ) }
        <br />
        <div style="page-break-inside: avoid;">
          <p class="subsection">${ headers["sections"]["digitalrisk"]["number"] }.${ digitalrisk["vuln_domain"]["name"] }</p>
          % if digitalrisk["vuln_domain"]["results"]:
            <p class="description">The following table shows the confirmed subdomains, their vulnerability information, and the open ports for the registered domains.<br />
Those with a risk score of "Medium" or higher are at high risk of being attacked if their vulnerabilities or open ports are left unattended, so we recommend applying security updates and closing unnecessary ports.<br />
Regardless of your risk score, if your organization has subdomains that are not managed by your organization, we recommend that you confirm their purpose of use and, if necessary, place them under your organization's control or close them.  <br />
Related Documents: vuln_domain.csv</p>
            ${ func.mltable( digitalrisk["vuln_domain"]["description"] ) }
            <%block name="blk_digitalrisk_vuln_domain">
            </%block>
          % else:
            <p class="description">We have found no vulnerabilities or open port information for the domains you have registered.</p>
          % endif
        </div>
        <div style="page-break-inside: avoid;">
          <p class="subsection">${ headers["sections"]["digitalrisk"]["number"] }.${ digitalrisk["vuln_ipaddr"]["name"] }</p>
          % if digitalrisk["vuln_ipaddr"]["results"]:
            <p class="description">The following table shows the confirmed open ports and vulnerability information for the registered IP addresses.<br />
It is recommended that you close unnecessary open ports and implement security updates to address the vulnerabilities.<br />
Related Documents: vuln_ipaddr.csv</p>
            <%block name="blk_digitalrisk_vuln_ipaddr">
            </%block>
          % else:
            <p class="description">There is no vulnerability or open port information for the registered IP address.</p>
          % endif
        </div>
        <div style="page-break-inside: avoid;">
          <p class="subsection">${ headers["sections"]["digitalrisk"]["number"] }.${ digitalrisk["impersonate_domain"]["name"] }</p>
          % if digitalrisk["impersonate_domain"]["results"]:
            <p class="description">The following list has information related to threat actors and potentially spoofed domains with similar information to the registered domains.<br />
We recommend that you block communications to spoofed domains and their IP addresses.<br />
*1 Host IP address of the spoofed domain and the associated threat actor name. <br />
*2 The results of investigating the logs of the EDR products in the cloud to check whether or not there were communications from the customer's endpoint with the EDR product installed to the host IP address of the spoofing domain. <br />
Related Documents: impersonate_domain.csv</p>
            <%block name="blk_digitalrisk_impersonate_domain">
            </%block>
          % else:
            <p class="description">There was no spoofed domain information for the domain you registered.</p>
          % endif
        </div>
        <div style="page-break-inside: avoid;">
          <p class="subsection">${ headers["sections"]["digitalrisk"]["number"] }.${ digitalrisk["dataleak"]["name"] }</p>
          % if digitalrisk["dataleak"]["results"]:
            <p class="description">We found suspected dataleak information related by your keywords.<br />
Related Documents: dataleak.csv</p>
            <%block name="blk_digitalrisk_dataleak">
            </%block>
          % else:
            <p class="description">There was no suspicion of information leakage regarding the keywords you registered.</p>
          % endif
        </div>
        <br />
      ##% if alertdata["alert_num"] is 0:
        <div style="page-break-after: always;" ><br /></div>
      ##% endif
    % endif

    <h3 class="section">${ headers["sections"]["security_news"]["number"] }. ${ headers["sections"]["security_news"]["title"] }</h3>
    % if len(security_news["news"]) is 0:
      <p class="description">There is no critical security topics that needed to be known in this month.<p>
      <br />
    % else:
      <%block name="blk_security_news">
      </%block>
    % endif
    <div style="page-break-inside: avoid;">
      <h3 class="section">${ headers["sections"]["other_comment"]["number"] }. ${ headers["sections"]["other_comment"]["title"] }</h3>
      % if len(userdata["comments"]) is 0:
        <p class="description">None<p>
        <br />
      % else:
        <%block name="blk_other_comment">
        </%block>
      % endif
    </div>
    <div style="page-break-inside: avoid;">
      <h3 class="section">${ headers["sections"]["conclusion"]["number"] }. ${ headers["sections"]["conclusion"]["title"] }</h3>
      <%block name="blk_conclusion">
      </%block>
    </div>
    <div style="page-break-inside: avoid;">
      <div style="height:380px"></div>
      <div style="text-align:center;">
        <image src="./images/${ format["logo"]["use"]["m"] }">
      </div>
      % if "DIGITAL HEARTS" in headers["company"]:
        <div style="height:650px"></div>
      % else:
        <div style="height:750px"></div>
      % endif
    </div>
  </body>
</html>
